<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="indy">

  <!-- Parameters -->
  <xacro:arg name="arm_id" default="indy"/>    <!-- Name of this indy (used as joint name prefix) -->
  <xacro:arg name="model" default="indy7"/>    <!-- Model of the indy arm -->

  <!-- Used for fixing robot to Gazebo 'base_link' -->
  <link name="world"/>

  <!-- Include the model -->
  <xacro:include filename="$(find indy_description)/robots/indy_arm.xacro"/>
  <xacro:indy_arm arm_id="$(arg arm_id)" model="$(arg model)" connected_to="world"/>

  <!-- Include the ros2_control plugin -->
  <xacro:include filename="$(find indy_description)/robots/indy_arm.ros2_control.xacro"/>
  <xacro:indy_arm_ros2_control
    ns="$(arg arm_id)"
    model="$(arg model)"
    target_system="gazebo"
    fake_sensor_commands="true"/>

  <!-- Gazebo's ros2_control plugin -->
  <gazebo>
    <!-- Joint states plugin -->
    <plugin
      filename="ignition-gazebo-joint-state-publisher-system"
      name="ignition::gazebo::systems::JointStatePublisher"/>
    <!-- <plugin
    filename="ignition-gazebo-pose-publisher-system"
    name="ignition::gazebo::systems::PosePublisher">
    <publish_link_pose>true</publish_link_pose>
    <use_pose_vector_msg>true</use_pose_vector_msg>
    </plugin> -->
    <!-- Joint state publisher -->
    <!-- <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
    <parameters>$(find ${description_pkg})/robots/${model}/controllers.yaml</parameters>
    </plugin> -->
  </gazebo>

</robot>