<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro
    name="indy_arm_ros2_control"
    params="ns
            model
            description_pkg:='indy_description'
            target_system:='fake_hardware'
            fake_sensor_commands:=^|false">
    <ros2_control name="IndyHardwareInterface" type="system">

      <hardware>
        <xacro:if value="${target_system == 'real_hardware'}">
          <!-- TODO indy_hardware plugin is not yet implemented -->
          <!-- <plugin>indy_hardware/IndyHardwareInterface</plugin> -->
        </xacro:if>
        <xacro:if value="${target_system == 'fake_hardware'}">
          <plugin>fake_components/GenericSystem</plugin>
          <param name="fake_sensor_commands">${fake_sensor_commands}</param>
          <param name="state_following_offset">0.0</param>
        </xacro:if>
        <xacro:if value="${target_system == 'gazebo'}">
          <plugin>gz_ros2_control/GazeboSimSystem</plugin>
        </xacro:if>
        <xacro:if value="${target_system not in ['real_hardware', 'fake_hardware', 'gazebo']}">
          <xacro:error text="Unknown target system: '${target_system}'"/>
        </xacro:if>
      </hardware>

      <xacro:macro name="configure_joint" params="ns:=^ model:=^ description_pkg:=^ joint_id initial_position when:=true">
        <xacro:if value="${when}">
          <xacro:property name="config_dir" value="$(find ${description_pkg})/robots/${model}"/>
          <xacro:property name="joint_limit" value="${xacro.load_yaml(config_dir + '/joint_limits.yaml')['joint_limits']['joint' + str(joint_id)]}"/>
          <joint name="${ns}_joint${joint_id}">
            <param name="initial_position">${initial_position}</param>
            <command_interface name="position">
              <param name="min">${joint_limit['min_position']}</param>
              <param name="max">${joint_limit['max_position']}</param>
            </command_interface>
            <command_interface name="velocity">
              <param name="min">-${joint_limit['max_velocity']}</param>
              <param name="max">${joint_limit['max_velocity']}</param>
            </command_interface>
            <!-- <command_interface name="effort"/> -->
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
          </joint>
        </xacro:if>
      </xacro:macro>

      <!-- If Indy has 7 degrees of freedom, it has joint6. -->
      <xacro:include filename="$(find ${description_pkg})/robots/utils.xacro"/>
      <xacro:set_property_if_joint_exist joint_id="6" property_name="joint6_exist"/>

      <xacro:configure_joint joint_id="0" initial_position="0.0"/>
      <xacro:configure_joint joint_id="1" initial_position="0.0"/>
      <xacro:configure_joint joint_id="2" initial_position="0.0"/>
      <xacro:configure_joint joint_id="3" initial_position="0.0"/>
      <xacro:configure_joint joint_id="4" initial_position="0.0"/>
      <xacro:configure_joint joint_id="5" initial_position="0.0"/>
      <xacro:configure_joint joint_id="6" initial_position="0.0" when="${joint6_exist}"/>

    </ros2_control>
  </xacro:macro>
</robot>